<!-- Show item, description, quantity, and desired stock amount -->

<table class="table">
  <thead>
    <tr>
      <th scope="col">Item</th>
      <th scope="description">Description</th>
      <th scope="col">Current Quantity</th>
      <th scope="col">Desired Stock Amount</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row" class="item1"></th>
      <td class="description1"></td>
      <td class="current-quantity1"></td>
      <td class ="desired-stock-amount1"></td>
    </tr>
     <tr>
      <th scope="row" class="item2"></th>
      <td class="description2"></td>
      <td class="current-quantity2"></td>
      <td class ="desired-stock-amount2"></td>
    </tr>
     <tr>
      <th scope="row" class="item3"></th>
      <td class="description3"></td>
      <td class="current-quantity3"></td>
      <td class ="desired-stock-amount3"></td>
    </tr>
  </tbody>
</table>