<!-- Item search bar -->
<nav class="navbar navbar-light bg-light">
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Product Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
</nav>

<!-- Add selected item(s) to cart --> 


<!-- Show item, description, quantity, and desired stock amount --> 

<table class="table">
  <thead>
    <tr>
      <th scope="col">Item</th>
      <th scope="description">Description</th>
      <th scope="col">Current Quantity</th>
      <th scope="col">Desired Stock Amount</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row" class="item"></th>
      <td class="description"></td>
      <td class="current-quantity"></td>
      <td class ="desired-stock-amount"></td>
    </tr>
  </tbody>
</table>