
  <div class="wrapper">
    <div class="form-signin">
      <h2 class="form-signin-heading text-center">Login to Storventory</h2>
        <form class="login">
          <div class="form-group">
            <label for="exampleInputEmail1"></label>
            <input type="email" class="form-control" id="email-input" placeholder="Email">
            <input type="password" class="form-control" id="password-input" placeholder="Password">
          </div>
              <label class="checkbox">
                  <input type="checkbox" value="remember-me" id="rememberMe" name="rememberMe"> Remember me
              </label>
          <button type="submit" class="btn btn-lg btn-primary btn-block">Login</button>
        </form>
        <br />
        <p>Or sign up <a href="/">here</a></p>
      </div>
    </div>
  </div>

  <script type="text/javascript" src="/js/login.js"></script>