<!-- Restaurant Item Search Result -->

<div class="container">
  <div class="row"> 
    <div class="block span3">
      <div class="product">
        <img src="">
      </div>
    
      <div class="info">
        <h4>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h4>
        <span class="description">
          Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
        </span>
        <span class="price">$99.99</span>
        <a class="btn btn-info pull-right" href="#"><i class="icon-shopping-cart"></i> Add to Cart</a>
      </div>
    </div>
  </div>
</div>