<!-- Restaurant Item Search Result -->

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<div class="container-fluid">
    <div class="row">
        <div class="col-12 mt-3">
            <div class="card">
                <div class="card-horizontal">
                    <div class="img-square-wrapper">
                        <img class="" src="http://via.placeholder.com/300x180" alt="Card image cap">
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Mr. Restaurant</h4>
                        <p class="card-text">Stats about the Resaurant..........</p>
                    </div>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Maybe something goes here....</small>
                </div>
            </div>
        </div>
    </div>